In [2]:
import sqlite3
import pandas as pd 
import numpy as np 
import datetime

In [5]:
!pwd

/Users/malcolmtaylor/Github_Projects/meh_scraper/notebooks

In [6]:
db_location = '../meh_backup_08-02-20.db'

In [10]:
con = sqlite3.connect(db_location)
cursor = con.cursor()

In [20]:
sql_query = """
SELECT name FROM sqlite_master WHERE type = "table"

"""

In [22]:
tables = cursor.execute(sql_query).fetchall()
tables = [x[0] for x in tables]
tables

['raw_response_backup',
 'raw_site_community_stats',
 'selling_details',
 'products']

## Product Details

In [56]:
items = pd.read_sql_query("select * from products", con)
items.columns

Index(['date', 'deal_features', 'deal_id',
       'deal_purchaseQuantity_maximumLimit',
       'deal_purchaseQuantity_minimumLimit', 'deal_specifications',
       'deal_story_body', 'deal_story_title', 'deal_theme_accentColor',
       'deal_theme_backgroundColor', 'deal_theme_backgroundImage',
       'deal_theme_foreground', 'deal_title', 'deal_topic_commentCount',
       'deal_topic_createdAt', 'deal_topic_id', 'deal_topic_replyCount',
       'deal_topic_url', 'deal_topic_voteCount', 'deal_url', 'poll_id',
       'poll_startDate', 'poll_title', 'poll_topic_commentCount',
       'poll_topic_createdAt', 'poll_topic_id', 'poll_topic_replyCount',
       'poll_topic_url', 'poll_topic_voteCount', 'time', 'video_id',
       'video_startDate', 'video_title', 'video_topic_commentCount',
       'video_topic_createdAt', 'video_topic_id', 'video_topic_replyCount',
       'video_topic_url', 'video_topic_voteCount', 'video_url',
       'deal_soldOutAt', 'deal_endDate'],
      dtype='object')

In [57]:
items.shape

(150, 42)

In [78]:
dates = pd.date_range(datetime.date(2020, 2, 15), datetime.date(2020, 8, 2), freq='d')
dates = set(dates.astype('str'))
list(dates)[:5]

['2020-03-27', '2020-04-06', '2020-05-16', '2020-07-09', '2020-07-17']

## Intra day details

In [46]:
community_stats = pd.read_sql_query("select * from selling_details", con)
community_stats.columns

Index(['date', 'time', 'Page Views 1 Name', 'Page Views 1 Percent',
       'Page Views 2 Name', 'Page Views 2 Percent', '# Visited', 'Clicked Meh',
       'Typed Meh Percent', 'Referrals Percent', 'Referrer 1 Percent',
       'Referrer 1 Name', 'Referrer 2 Percent', 'Referrer 2 Name',
       'Referrer 3 Percent', 'Referrer 3 Name', 'Referrer 4 Percent',
       'Referrer 4 Name', 'Referrer 5 Percent', 'Referrer 5 Name',
       'Items Sold', 'Dollars Sold'],
      dtype='object')

In [47]:
community_stats.shape

(3199, 22)

In [48]:
community_stats['date'].nunique()

161

In [73]:
community_dates = set(community_stats['date'].tolist())
print("Min Date", community_stats['date'].min())
print("Max Date", community_stats['date'].max())

Min Date 2020-02-15
Max Date 2020-08-02

In [74]:
datetime.date(2020, 8, 2) - datetime.date(2020, 2, 15)

datetime.timedelta(days=169)

In [76]:
dates.difference(community_dates)

{'2020-03-01',
 '2020-03-02',
 '2020-06-24',
 '2020-06-25',
 '2020-06-26',
 '2020-07-09',
 '2020-07-29',
 '2020-07-30',
 '2020-07-31'}

In [51]:
community_stats['time'].nunique()

297

In [52]:
community_stats['time'].head()

0    12:53:09
1    15:53:10
2    18:53:12
3    21:53:10
4    00:53:09
Name: time, dtype: object

In [53]:
community_stats['time_fix'] = community_stats['time'].str[:5]
community_stats['hours'] = community_stats['time'].str[:2]
community_stats['minutes'] = community_stats['time'].str[3:5]

community_stats[['time_fix', 'hours', 'minutes']].head()

  time_fix hours minutes
0    12:53    12      53
1    15:53    15      53
2    18:53    18      53
3    21:53    21      53
4    00:53    00      53

In [54]:
community_stats['hours'].value_counts()

03    218
15    217
06    216
21    216
09    215
00    215
12    213
18    211
07     96
05     96
02     95
04     94
14     93
16     92
17     92
20     92
13     92
11     92
08     92
01     91
23     91
10     91
22     90
19     89
Name: hours, dtype: int64

In [55]:
community_stats['minutes'].value_counts()

53    977
15    745
45    739
30    735
31      2
16      1
Name: minutes, dtype: int64