In [1]:
import pandas as pd
import numpy as np 
import sqlite3 
import os 
import sys 
import datetime
import plotly.express as px

In [2]:
current_path_split = os.getcwd().split('/')
if current_path_split[-1] == 'notebooks':
    os.chdir('..')
    print('Changed dir')
    print(os.getcwd())
elif current_path_split[-1] == 'run_notebooks':
    os.chdir('../..')
    print('Changed dir')
    print(os.getcwd())

Changed dir
/home/malcolm/meh_scraper

In [3]:
db_location = 'data/meh_scraper.db'

In [4]:
con = sqlite3.connect(db_location)
cursor = con.cursor()

In [5]:
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table'").fetchall()
tables = [x[0] for x in tables]
tables

['raw_response_backup',
 'raw_site_community_stats',
 'selling_details',
 'products']

In [6]:
for x in tables:
    temp_cnt = cursor.execute(f'select count(*) from {x}').fetchall()[0][0]
    print(x, " : ", temp_cnt)

raw_response_backup  :  448
raw_site_community_stats  :  19097
selling_details  :  18316
products  :  438

In [7]:
yesterday = datetime.datetime.now() - datetime.timedelta(days=1)
two_weeks_ago = yesterday - datetime.timedelta(days=15)
yesterday_str = yesterday.strftime('%Y-%m-%d')
two_weeks_ago_str = two_weeks_ago.strftime('%Y-%m-%d')
print(f"From: {two_weeks_ago_str} to {yesterday_str}")

From: 2021-06-29 to 2021-07-14

In [8]:
details_sql = f"select * from selling_details where date between '{two_weeks_ago}' and '{yesterday}'"
products_sql = f"select * from products where date between '{two_weeks_ago}' and '{yesterday}'"

In [9]:
details = pd.read_sql(details_sql, con)
products = pd.read_sql(products_sql, con)

detail_numeric_cols = ['Page Views 1 Percent', 'Page Views 2 Percent', 
 '# Visited', 'Typed Meh Percent',
 'Referrals Percent' , 'Referrer 1 Percent', 'Referrer 2 Percent',
 'Referrer 3 Percent', 'Referrer 4 Percent', 'Referrer 5 Percent', 
 'Items Sold', 'Dollars Sold']
for col in detail_numeric_cols:
    details[col] = details[col].astype(float)

In [10]:
details.shape

(631, 22)

In [11]:
details.columns

Index(['date', 'time', 'Page Views 1 Name', 'Page Views 1 Percent',
       'Page Views 2 Name', 'Page Views 2 Percent', '# Visited', 'Clicked Meh',
       'Typed Meh Percent', 'Referrals Percent', 'Referrer 1 Percent',
       'Referrer 1 Name', 'Referrer 2 Percent', 'Referrer 2 Name',
       'Referrer 3 Percent', 'Referrer 3 Name', 'Referrer 4 Percent',
       'Referrer 4 Name', 'Referrer 5 Percent', 'Referrer 5 Name',
       'Items Sold', 'Dollars Sold'],
      dtype='object')

In [12]:
details.head()

,date,time,Page Views 1 Name,Page Views 1 Percent,Page Views 2 Name,Page Views 2 Percent,# Visited,Clicked Meh,Typed Meh Percent,Referrals Percent,...,Referrer 2 Percent,Referrer 2 Name,Referrer 3 Percent,Referrer 3 Name,Referrer 4 Percent,Referrer 4 Name,Referrer 5 Percent,Referrer 5 Name,Items Sold,Dollars Sold
0,2021-06-30,00:15:05,on a phone,44.0,on a tablet.,2.0,53690.0,3525,96.0,4.0,...,0.150313,facebook.com,0.118669,clarkdeals.com,0.077135,appleid.apple.com,0.071201,slickdeals.net,1250.0,11179.0
1,2021-06-30,00:45:05,on a phone,44.0,on a tablet.,2.0,54335.0,3544,96.0,4.0,...,0.150496,facebook.com,0.119224,clarkdeals.com,0.076225,appleid.apple.com,0.070362,slickdeals.net,1250.0,11179.0
2,2021-06-30,01:15:05,on a phone,44.0,on a tablet.,2.0,55112.0,3558,96.0,4.0,...,0.150277,facebook.com,0.123305,clarkdeals.com,0.077065,appleid.apple.com,0.071285,slickdeals.net,1254.0,11218.0
3,2021-06-30,01:45:05,on a phone,44.0,on a tablet.,2.0,55778.0,3567,96.0,4.0,...,0.148702,facebook.com,0.125825,clarkdeals.com,0.076257,appleid.apple.com,0.072444,slickdeals.net,1256.0,11241.0
4,2021-06-30,02:15:04,on a phone,44.0,on a tablet.,2.0,56365.0,3580,96.0,4.0,...,0.150949,facebook.com,0.124533,clarkdeals.com,0.077361,appleid.apple.com,0.071701,slickdeals.net,1270.0,11366.0

In [13]:
products.columns

Index(['date', 'deal_features', 'deal_id',
       'deal_purchaseQuantity_maximumLimit',
       'deal_purchaseQuantity_minimumLimit', 'deal_specifications',
       'deal_story_body', 'deal_story_title', 'deal_theme_accentColor',
       'deal_theme_backgroundColor', 'deal_theme_backgroundImage',
       'deal_theme_foreground', 'deal_title', 'deal_topic_commentCount',
       'deal_topic_createdAt', 'deal_topic_id', 'deal_topic_replyCount',
       'deal_topic_url', 'deal_topic_voteCount', 'deal_url', 'poll_id',
       'poll_startDate', 'poll_title', 'poll_topic_commentCount',
       'poll_topic_createdAt', 'poll_topic_id', 'poll_topic_replyCount',
       'poll_topic_url', 'poll_topic_voteCount', 'time', 'video_id',
       'video_startDate', 'video_title', 'video_topic_commentCount',
       'video_topic_createdAt', 'video_topic_id', 'video_topic_replyCount',
       'video_topic_url', 'video_topic_voteCount', 'video_url',
       'deal_soldOutAt', 'deal_endDate'],
      dtype='object')

In [14]:
products.head()

,date,deal_features,deal_id,deal_purchaseQuantity_maximumLimit,deal_purchaseQuantity_minimumLimit,deal_specifications,deal_story_body,deal_story_title,deal_theme_accentColor,deal_theme_backgroundColor,...,video_title,video_topic_commentCount,video_topic_createdAt,video_topic_id,video_topic_replyCount,video_topic_url,video_topic_voteCount,video_url,deal_soldOutAt,deal_endDate
0,2021-06-30,"- Use it to give yourself curls or waves, or j...",a6k6e000000gqZuAAI,3,1,Specs\r\n====\r\n- Product Name: 3-Piece Sultr...,*We now return to...* A Brush With Fate*:*\r\n...,As The Brush Curls,#dff9ff,#2e4348,...,Just a Banana,3.0,2021-06-30T04:00:00.325Z,60dbec40cd1b09001b421da7,0.0,https://meh.com/forum/topics/just-a-banana-6,6.0,https://www.youtube.com/watch?v=OPCWh9SNFRA,None,None
1,2021-07-01,- The making them part? Dope\r\n- The displayi...,a6k6e000000gqZzAAI,6,2,Specs\r\n====\r\n- Product Name: Papercraft Wo...,What we have here are some cool craft projects...,Paper Is The Future,#d1fff6,#082620,...,Special Guest Video Director: Just a Pickle,4.0,2021-07-01T04:00:00.245Z,60dd3dc00b185d001b7eec90,0.0,https://meh.com/forum/topics/special-guest-vid...,4.0,https://www.youtube.com/watch?v=rLa610pGK4Q,None,None
2,2021-07-02,- Diamond clusters on sterling silver\r\n- But...,a6k6e000000gqa4AAA,3,1,Specs\r\n====\r\n- Product Name: Fifth & Fine ...,"There's that age-old saying, you are what you ...",Who Are You?,#ededff,#262755,...,Isolate! A Song For Headstrong Elders,3.0,2021-07-02T04:00:00.523Z,60de8f400b185d001b81d154,1.0,https://meh.com/forum/topics/isolate-a-song-fo...,5.0,https://youtu.be/WQq-slTPW1U,None,None
3,2021-07-03,"- Two Death Stars for bugs\r\n - But, unlike t...",a6k6e000000gqa9AAA,3,1,Specs\r\n====\r\n- Product Name: Zapguard Sola...,In honor of this 2-Pack of Zapguard Solar Ligh...,Warm The Swarm,#e4ffe7,#19521f,...,Little Toy Train: Never Gets Old,1.0,2021-07-03T04:00:00.309Z,60dfe0c0cd1b09001b4a83a5,0.0,https://meh.com/forum/topics/little-toy-train-...,4.0,https://www.youtube.com/watch?v=N7Ibo98T5rs,None,None
4,2021-07-03,"- Two Death Stars for bugs\r\n - But, unlike t...",a6k6e000000gqa9AAA,3,1,Specs\r\n====\r\n- Product Name: Zapguard Sola...,In honor of this 2-Pack of Zapguard Solar Ligh...,Warm The Swarm,#e4ffe7,#19521f,...,Little Toy Train: Never Gets Old,1.0,2021-07-03T04:00:00.309Z,60dfe0c0cd1b09001b4a83a5,0.0,https://meh.com/forum/topics/little-toy-train-...,5.0,https://www.youtube.com/watch?v=N7Ibo98T5rs,None,None

In [15]:
details.columns

Index(['date', 'time', 'Page Views 1 Name', 'Page Views 1 Percent',
       'Page Views 2 Name', 'Page Views 2 Percent', '# Visited', 'Clicked Meh',
       'Typed Meh Percent', 'Referrals Percent', 'Referrer 1 Percent',
       'Referrer 1 Name', 'Referrer 2 Percent', 'Referrer 2 Name',
       'Referrer 3 Percent', 'Referrer 3 Name', 'Referrer 4 Percent',
       'Referrer 4 Name', 'Referrer 5 Percent', 'Referrer 5 Name',
       'Items Sold', 'Dollars Sold'],
      dtype='object')

In [16]:
details.head()

,date,time,Page Views 1 Name,Page Views 1 Percent,Page Views 2 Name,Page Views 2 Percent,# Visited,Clicked Meh,Typed Meh Percent,Referrals Percent,...,Referrer 2 Percent,Referrer 2 Name,Referrer 3 Percent,Referrer 3 Name,Referrer 4 Percent,Referrer 4 Name,Referrer 5 Percent,Referrer 5 Name,Items Sold,Dollars Sold
0,2021-06-30,00:15:05,on a phone,44.0,on a tablet.,2.0,53690.0,3525,96.0,4.0,...,0.150313,facebook.com,0.118669,clarkdeals.com,0.077135,appleid.apple.com,0.071201,slickdeals.net,1250.0,11179.0
1,2021-06-30,00:45:05,on a phone,44.0,on a tablet.,2.0,54335.0,3544,96.0,4.0,...,0.150496,facebook.com,0.119224,clarkdeals.com,0.076225,appleid.apple.com,0.070362,slickdeals.net,1250.0,11179.0
2,2021-06-30,01:15:05,on a phone,44.0,on a tablet.,2.0,55112.0,3558,96.0,4.0,...,0.150277,facebook.com,0.123305,clarkdeals.com,0.077065,appleid.apple.com,0.071285,slickdeals.net,1254.0,11218.0
3,2021-06-30,01:45:05,on a phone,44.0,on a tablet.,2.0,55778.0,3567,96.0,4.0,...,0.148702,facebook.com,0.125825,clarkdeals.com,0.076257,appleid.apple.com,0.072444,slickdeals.net,1256.0,11241.0
4,2021-06-30,02:15:04,on a phone,44.0,on a tablet.,2.0,56365.0,3580,96.0,4.0,...,0.150949,facebook.com,0.124533,clarkdeals.com,0.077361,appleid.apple.com,0.071701,slickdeals.net,1270.0,11366.0

In [17]:
n_rows = details.shape[0]
unique_dates = details['date'].nunique()
print(f" Number of Rows: {n_rows} \n Unique Dates: {unique_dates}")

 Number of Rows: 631
 Unique Dates: 13

## Dedup Details Data

In [18]:
details = details.sort_values(['date', 'time'])
details_dedup = details.drop_duplicates(['date', 'time'], keep='first')
details_dedup.shape

(630, 22)

In [51]:
eod_details = details_dedup.drop_duplicates(['date'], keep='last')
eod_details['Avg Price'] = np.round(eod_details['Dollars Sold']/eod_details['Items Sold'], 2)
eod_details['Conversion (%)'] = np.round(100*eod_details['Items Sold']/eod_details['# Visited'], 4)
eod_details['Dollars Sold Rank'] = eod_details['Dollars Sold'].rank(ascending=False)
eod_details['Conversion Rank'] = eod_details['Conversion (%)'].rank(ascending=False)
eod_details['Items Sold Rank'] = eod_details['Items Sold'].rank(ascending=False)

eod_details = pd.merge(eod_details, products, on='date')
print(eod_details.shape)
eod_details.columns

(14, 68)

/home/malcolm/main/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/malcolm/main/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/malcolm/main/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/malcolm/main/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/malcolm/main/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Index(['date', 'time_x', 'Page Views 1 Name', 'Page Views 1 Percent',
       'Page Views 2 Name', 'Page Views 2 Percent', '# Visited', 'Clicked Meh',
       'Typed Meh Percent', 'Referrals Percent', 'Referrer 1 Percent',
       'Referrer 1 Name', 'Referrer 2 Percent', 'Referrer 2 Name',
       'Referrer 3 Percent', 'Referrer 3 Name', 'Referrer 4 Percent',
       'Referrer 4 Name', 'Referrer 5 Percent', 'Referrer 5 Name',
       'Items Sold', 'Dollars Sold', 'Avg Price', 'Conversion (%)',
       'Dollars Sold Rank', 'Conversion Rank', 'Items Sold Rank',
       'deal_features', 'deal_id', 'deal_purchaseQuantity_maximumLimit',
       'deal_purchaseQuantity_minimumLimit', 'deal_specifications',
       'deal_story_body', 'deal_story_title', 'deal_theme_accentColor',
       'deal_theme_backgroundColor', 'deal_theme_backgroundImage',
       'deal_theme_foreground', 'deal_title', 'deal_topic_commentCount',
       'deal_topic_createdAt', 'deal_topic_id', 'deal_topic_replyCount',
       'deal_topic_url', 'deal_topic_voteCount', 'deal_url', 'poll_id',
       'poll_startDate', 'poll_title', 'poll_topic_commentCount',
       'poll_topic_createdAt', 'poll_topic_id', 'poll_topic_replyCount',
       'poll_topic_url', 'poll_topic_voteCount', 'time_y', 'video_id',
       'video_startDate', 'video_title', 'video_topic_commentCount',
       'video_topic_createdAt', 'video_topic_id', 'video_topic_replyCount',
       'video_topic_url', 'video_topic_voteCount', 'video_url',
       'deal_soldOutAt', 'deal_endDate'],
      dtype='object')

In [20]:
eod_details.tail()

,date,time_x,Page Views 1 Name,Page Views 1 Percent,Page Views 2 Name,Page Views 2 Percent,# Visited,Clicked Meh,Typed Meh Percent,Referrals Percent,...,video_title,video_topic_commentCount,video_topic_createdAt,video_topic_id,video_topic_replyCount,video_topic_url,video_topic_voteCount,video_url,deal_soldOutAt,deal_endDate
9,2021-07-10,23:45:08,on a phone,40.0,on a tablet.,2.0,66118.0,3404,96.0,4.0,...,Ask Irk: The Smell of Ear Wax?,2.0,2021-07-10T04:00:00.415Z,60e91b40cd1b09001b6ada48,0.0,https://meh.com/forum/topics/ask-irk-the-smell...,1.0,https://www.youtube.com/watch?v=_ifTDxNOqZQ,None,None
10,2021-07-11,23:45:06,on a phone,52.0,on a tablet.,2.0,49426.0,3442,95.0,5.0,...,Glass Carafe,1.0,2021-07-11T04:00:00.330Z,60ea6cc0cd1b09001b6d82b1,0.0,https://meh.com/forum/topics/glass-carafe-2,0.0,https://www.youtube.com/watch?v=ydvZeakLg5c,None,None
11,2021-07-12,23:45:08,on a phone,45.0,on a tablet.,2.0,56908.0,3696,95.0,5.0,...,"Blankie On Head, Strength To Face The Day",1.0,2021-07-12T04:00:00.255Z,60ebbe400b185d001ba95148,1.0,https://meh.com/forum/topics/blankie-on-head-s...,4.0,https://www.youtube.com/watch?v=qz8n0X7BLro,None,None
12,2021-07-13,23:45:07,on a phone,45.0,on a tablet.,2.0,56791.0,3682,95.0,5.0,...,Careless Whisper: Mad Ape Den Karaoke,4.0,2021-07-13T04:00:00.295Z,60ed0fc0f3859f001b9d6cf0,0.0,https://meh.com/forum/topics/careless-whisper-...,3.0,https://www.youtube.com/watch?v=zF8tFiQLC44,None,None
13,2021-07-14,23:45:05,on a phone,44.0,on a tablet.,2.0,56265.0,3750,93.0,7.0,...,Turtle Makes Weird Sound,3.0,2021-07-14T04:00:00.217Z,60ee6140a8cbad001b750230,0.0,https://meh.com/forum/topics/turtle-makes-weir...,3.0,https://www.youtube.com/watch?v=1Qvrv2vaPGA,None,None

In [21]:
keeper_metrics = {}
keeper_metrics['# of Days'] = eod_details.shape[0]
keeper_metrics['Sum $ sold'] = eod_details['Dollars Sold'].astype('float').sum()
keeper_metrics['# of Items Sold'] = eod_details['Items Sold'].astype('float').sum()
keeper_metrics['Avg Sale Price'] = np.round(eod_details['Avg Price'].mean(), 2)
keeper_metrics['Total # of Visitors'] = eod_details['# Visited'].sum()
keeper_metrics['Avg # of Visitors'] = np.round(eod_details['# Visited'].mean(), 1)
keeper_metrics['Avg Conversion (%)'] = np.round(100*eod_details['Items Sold'].astype('float').sum()/
                                           eod_details['# Visited'].sum(), 4)
keeper_series = pd.Series(keeper_metrics, name = ' ')
keeper_series

# of Days                  14.0000
Sum $ sold             253877.0000
# of Items Sold          8295.0000
Avg Sale Price             39.8900
Total # of Visitors    877696.0000
Avg # of Visitors       62692.6000
Avg Conversion (%)          0.9451
Name:  , dtype: float64

In [22]:
for x in range(1, 6):
    new_col_name = 'Referrer '+ str(x) + ' Count'
    eod_details[new_col_name] = (eod_details['Referrer '+ str(x) +' Percent']) \
        * (eod_details['Referrals Percent']/100) \
        * eod_details['# Visited']
    print(new_col_name)

Referrer 1 Count
Referrer 2 Count
Referrer 3 Count
Referrer 4 Count
Referrer 5 Count

In [23]:
eod_details['Referrals Percent'].describe()

count    14.000000
mean      4.571429
std       1.157868
min       2.000000
25%       4.000000
50%       4.500000
75%       5.000000
max       7.000000
Name: Referrals Percent, dtype: float64

## Top By Dollar and Items Sold

In [24]:
keeper_cols = ['deal_title', 'Dollars Sold', 'Items Sold', 'Conversion (%)', 'Avg Price', 'date' 
               , 'Dollars Sold Rank', 'Conversion Rank', 'Items Sold Rank']

In [25]:
dollars = eod_details.sort_values('Dollars Sold', ascending=False)
top_dollars = dollars[keeper_cols].head(3)
bottom_dollars = dollars[keeper_cols].tail(3)

In [26]:
items = eod_details.sort_values('Items Sold', ascending=False)
top_items = items[keeper_cols].head(3)
bottom_items = items[keeper_cols].tail(3)

In [27]:
top_items

,deal_title,Dollars Sold,Items Sold,Conversion (%),Avg Price,date,Dollars Sold Rank,Conversion Rank,Items Sold Rank
3,2-Pack: Zapguard Solar Light & Bug Zapper Lant...,24037.0,1034.0,2.1094,23.25,2021-07-03,10.0,13.0,13.0
4,2-Pack: Zapguard Solar Light & Bug Zapper Lant...,24037.0,1034.0,2.1094,23.25,2021-07-03,10.0,13.0,13.0
12,5-Pack: Poo-Pourri 16oz Variety Pack,29369.0,1017.0,1.7908,28.88,2021-07-13,12.0,12.0,12.0

In [28]:
top_dollars

,deal_title,Dollars Sold,Items Sold,Conversion (%),Avg Price,date,Dollars Sold Rank,Conversion Rank,Items Sold Rank
8,Your Choice: Noise Cancelling Smart Wireless B...,45085.0,287.0,0.3857,157.09,2021-07-07,13.0,3.0,3.0
12,5-Pack: Poo-Pourri 16oz Variety Pack,29369.0,1017.0,1.7908,28.88,2021-07-13,12.0,12.0,12.0
6,"King Art 63-Piece Canvas, Paint, and Brush Set",24184.0,737.0,1.1781,32.81,2021-07-05,11.0,9.0,10.0

In [29]:
conversion = eod_details.sort_values('Conversion (%)', ascending=False)
top_conversion = conversion[keeper_cols].head(3)
bottom_conversion = conversion[keeper_cols].tail(3)

In [30]:
top_conversion

,deal_title,Dollars Sold,Items Sold,Conversion (%),Avg Price,date,Dollars Sold Rank,Conversion Rank,Items Sold Rank
3,2-Pack: Zapguard Solar Light & Bug Zapper Lant...,24037.0,1034.0,2.1094,23.25,2021-07-03,10.0,13.0,13.0
4,2-Pack: Zapguard Solar Light & Bug Zapper Lant...,24037.0,1034.0,2.1094,23.25,2021-07-03,10.0,13.0,13.0
12,5-Pack: Poo-Pourri 16oz Variety Pack,29369.0,1017.0,1.7908,28.88,2021-07-13,12.0,12.0,12.0

In [31]:
all_tops = pd.concat([top_items, top_dollars, top_conversion]).drop_duplicates()
all_tops

,deal_title,Dollars Sold,Items Sold,Conversion (%),Avg Price,date,Dollars Sold Rank,Conversion Rank,Items Sold Rank
3,2-Pack: Zapguard Solar Light & Bug Zapper Lant...,24037.0,1034.0,2.1094,23.25,2021-07-03,10.0,13.0,13.0
12,5-Pack: Poo-Pourri 16oz Variety Pack,29369.0,1017.0,1.7908,28.88,2021-07-13,12.0,12.0,12.0
8,Your Choice: Noise Cancelling Smart Wireless B...,45085.0,287.0,0.3857,157.09,2021-07-07,13.0,3.0,3.0
6,"King Art 63-Piece Canvas, Paint, and Brush Set",24184.0,737.0,1.1781,32.81,2021-07-05,11.0,9.0,10.0

In [32]:
all_bottoms = pd.concat([bottom_items, bottom_dollars, bottom_conversion]).drop_duplicates()

# Meh T Shirts.. 
eod_details[eod_details['deal_title'].str.contains('Meh')]\
    [['deal_title', 'Dollars Sold', 'Items Sold', 'Avg Price', 'date','deal_soldOutAt']].tail(20)

## Referrer Analysis

In [33]:
def get_total_count(eod_details, referrer_name):
    ind = []
    for referrer_index in range(1, 6):
        dets = eod_details[eod_details[f'Referrer {referrer_index} Name'] == referrer_name][f'Referrer {referrer_index} Count']
        ind.append(dets)
    all_indexes = pd.concat(ind)
    print('Number of records in total count: ', all_indexes.shape[0])
    ref_sum = all_indexes.sum()
    return(ref_sum)

In [34]:
def get_referrer_details(eod_details, referrer_index):
    index = str(referrer_index)
    top_refferer = eod_details[f'Referrer {index} Name'].value_counts().head(1)
    top_refferer = top_refferer\
        .reset_index()\
        .rename({'index':f'Referrer {index} Name', f'Referrer {index} Name':f'Times as Referrer {index}'}, axis = 1)
    name = top_refferer[f'Referrer {index} Name'].values[0]
    views_cnt = int(get_total_count(eod_details, name))
    top_refferer[f'Referrer {index} Views Count'] = views_cnt
    top_refferer[f'Refferer {index} Views Pct'] = np.round(100 * views_cnt/eod_details['# Visited'].sum(),2)

    top_refferer = top_refferer.to_dict()
    top_refferer_dict = {k:v.get(0) for k, v in top_refferer.items()}
    return(top_refferer_dict)

In [35]:
ref1 = get_referrer_details(eod_details, 1)
ref2 = get_referrer_details(eod_details, 2)
ref1_series = pd.Series(ref1)
ref2_series = pd.Series(ref2)
ref_series = pd.concat([ref1_series, ref2_series]).rename('')
ref_series

Number of records in total count:  13
Number of records in total count:  13

Referrer 1 Name           twitter.com
Times as Referrer 1                 6
Referrer 1 Views Count           5380
Refferer 1 Views Pct             0.61
Referrer 2 Name           twitter.com
Times as Referrer 2                 6
Referrer 2 Views Count           5380
Refferer 2 Views Pct             0.61
Name: , dtype: object

## Create HTML

In [36]:
keeper_df = pd.DataFrame(keeper_series)
keeper_html = "<strong> Key Metrics </strong>"
keeper_html += keeper_df.to_html()

In [37]:
all_tops_html = "<strong> All Top Products (by $ amount, # items, conversion %) </strong>"
all_tops_html += all_tops.to_html(index=False)

In [38]:
all_bottom_html = "<strong> All Top Products (by $ amount, # items, conversion %) </strong>"
all_bottom_html += all_bottoms.to_html(index=False)

In [39]:
top_dollars_html = "<strong> Top Dollar by Dollar </strong>"
top_dollars_html += top_dollars.to_html(index=False)

In [40]:
top_items_html = "<strong> Top Items by Numbers Sold </strong>"
top_items_html += top_items.to_html(index=False)

In [41]:
top_conversion_html = "<strong> Top Conversion (Items Sold/Visits) </strong>"
top_conversion_html += top_conversion.to_html(index=False)

In [42]:
ref_series_df = pd.DataFrame(ref_series)
ref_html = "<strong> Referrals DF </strong>"
ref_html += ref_series_df.to_html()

In [43]:
bottom_dollars_html = "<strong> Bottom Dollar by Dollar </strong>"
bottom_dollars_html += bottom_dollars.to_html(index=False)

bottom_items_html = "<strong> Bottom Items by Numbers Sold </strong>"
bottom_items_html += bottom_items.to_html(index=False)

bottom_conversion_html = "<strong> Bottom Conversion (Items Sold/Visits) </strong>"
bottom_conversion_html += bottom_conversion.to_html(index=False)

In [44]:
html_text = " <br> <br> ".join([keeper_html, all_tops_html, all_bottom_html
                                , ref_html
                                , top_dollars_html, top_items_html, top_conversion_html
                                , bottom_dollars_html, bottom_items_html, bottom_conversion_html])

## Send Analysis Email

In [45]:
import smtplib
import ssl
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
import base64
import papermill as pm
import os 
import sys
import re 
import datetime
import pickle
import nbconvert

import nbformat
from traitlets.config import Config
from nbconvert import HTMLExporter
from nbconvert.writers import FilesWriter

In [46]:
gmail_login = "malctaylordev@gmail.com"
sender_email = "malctaylordev@gmail.com"
reciever_email = "malctaylor15@gmail.com"
# reciever_email = gmail_login

In [47]:
message = MIMEMultipart('related')
message["From"] = sender_email
message["To"] = reciever_email
port = 465
context = ssl.create_default_context()

In [48]:
with open('/home/malcolm/credentials/email_pw.pkl', 'rb') as hnd:
    pw = pickle.load(hnd)['pw']

In [49]:
message['subject'] = f'Weekly Meh Summary from {yesterday_str} and {two_weeks_ago_str}'

# Encapsulate the plain and HTML versions of the message body in an
# 'alternative' part, so message agents can decide which they want to display.
msgAlternative = MIMEMultipart('alternative')
message.attach(msgAlternative)

msgText = MIMEText(html_text, 'html')
msgAlternative.attach(msgText)

In [50]:
with smtplib.SMTP_SSL("smtp.gmail.com", port, context=context) as server:
    server.login(gmail_login, pw)
    server.sendmail(gmail_login, reciever_email, message.as_string())