In [1]:
import pandas as pd
import numpy as np 
import sqlite3 
import os 
import sys 
import datetime
import plotly.express as px

In [2]:
current_path_split = os.getcwd().split('/')
if current_path_split[-1] == 'notebooks':
    os.chdir('..')
    print('Changed dir')
    print(os.getcwd())
elif current_path_split[-1] == 'run_notebooks':
    os.chdir('../..')
    print('Changed dir')
    print(os.getcwd())

Changed dir
/home/malcolm/meh_scraper

In [3]:
db_location = 'data/meh_scraper.db'

In [4]:
con = sqlite3.connect(db_location)
cursor = con.cursor()

In [5]:
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table'").fetchall()
tables = [x[0] for x in tables]
tables

['raw_response_backup',
 'raw_site_community_stats',
 'selling_details',
 'products']

In [6]:
for x in tables:
    temp_cnt = cursor.execute(f'select count(*) from {x}').fetchall()[0][0]
    print(x, " : ", temp_cnt)

raw_response_backup  :  804
raw_site_community_stats  :  36268
selling_details  :  34913
products  :  793

In [7]:
yesterday = datetime.datetime.now() - datetime.timedelta(days=1)
two_weeks_ago = yesterday - datetime.timedelta(days=15)
yesterday_str = yesterday.strftime('%Y-%m-%d')
two_weeks_ago_str = two_weeks_ago.strftime('%Y-%m-%d')
print(f"From: {two_weeks_ago_str} to {yesterday_str}")

From: 2022-06-23 to 2022-07-08

In [8]:
details_sql = f"select * from selling_details where date between '{two_weeks_ago}' and '{yesterday}'"
products_sql = f"select * from products where date between '{two_weeks_ago}' and '{yesterday}'"

In [9]:
details = pd.read_sql(details_sql, con)
products = pd.read_sql(products_sql, con)

detail_numeric_cols = ['Page Views 1 Percent', 'Page Views 2 Percent', 
 '# Visited', 'Typed Meh Percent',
 'Referrals Percent' , 'Referrer 1 Percent', 'Referrer 2 Percent',
 'Referrer 3 Percent', 'Referrer 4 Percent', 'Referrer 5 Percent', 
 'Items Sold', 'Dollars Sold']
for col in detail_numeric_cols:
    details[col] = details[col].astype(float)

In [10]:
details.shape

(669, 22)

In [11]:
details.columns

Index(['date', 'time', 'Page Views 1 Name', 'Page Views 1 Percent',
       'Page Views 2 Name', 'Page Views 2 Percent', '# Visited', 'Clicked Meh',
       'Typed Meh Percent', 'Referrals Percent', 'Referrer 1 Percent',
       'Referrer 1 Name', 'Referrer 2 Percent', 'Referrer 2 Name',
       'Referrer 3 Percent', 'Referrer 3 Name', 'Referrer 4 Percent',
       'Referrer 4 Name', 'Referrer 5 Percent', 'Referrer 5 Name',
       'Items Sold', 'Dollars Sold'],
      dtype='object')

In [12]:
details.head()

,date,time,Page Views 1 Name,Page Views 1 Percent,Page Views 2 Name,Page Views 2 Percent,# Visited,Clicked Meh,Typed Meh Percent,Referrals Percent,...,Referrer 2 Percent,Referrer 2 Name,Referrer 3 Percent,Referrer 3 Name,Referrer 4 Percent,Referrer 4 Name,Referrer 5 Percent,Referrer 5 Name,Items Sold,Dollars Sold
0,2022-06-24,00:15:06,on a phone,67.0,on a tablet.,2.0,2312.0,522,94.0,6.0,...,NaN,None,NaN,None,NaN,None,NaN,None,15.0,737.0
1,2022-06-24,00:45:07,on a phone,63.0,on a tablet.,2.0,3986.0,801,94.0,6.0,...,NaN,None,NaN,None,NaN,None,NaN,None,25.0,1223.0
2,2022-06-24,01:16:47,on a phone,62.0,on a tablet.,2.0,5147.0,937,94.0,6.0,...,0.150473,mehstalker.com,NaN,None,NaN,None,NaN,None,34.0,1677.0
3,2022-06-24,01:45:06,on a phone,60.0,on a tablet.,2.0,6083.0,1006,94.0,6.0,...,0.145138,mehstalker.com,0.126996,facebook.com,0.090711,sidedeal.com,NaN,None,36.0,1782.0
4,2022-06-24,02:15:06,on a phone,59.0,on a tablet.,2.0,6816.0,1067,94.0,6.0,...,0.145513,mehstalker.com,0.113177,facebook.com,0.080841,sidedeal.com,NaN,None,39.0,1939.0

In [13]:
products.columns

Index(['date', 'deal_features', 'deal_id',
       'deal_purchaseQuantity_maximumLimit',
       'deal_purchaseQuantity_minimumLimit', 'deal_specifications',
       'deal_story_body', 'deal_story_title', 'deal_theme_accentColor',
       'deal_theme_backgroundColor', 'deal_theme_backgroundImage',
       'deal_theme_foreground', 'deal_title', 'deal_topic_commentCount',
       'deal_topic_createdAt', 'deal_topic_id', 'deal_topic_replyCount',
       'deal_topic_url', 'deal_topic_voteCount', 'deal_url', 'poll_id',
       'poll_startDate', 'poll_title', 'poll_topic_commentCount',
       'poll_topic_createdAt', 'poll_topic_id', 'poll_topic_replyCount',
       'poll_topic_url', 'poll_topic_voteCount', 'time', 'video_id',
       'video_startDate', 'video_title', 'video_topic_commentCount',
       'video_topic_createdAt', 'video_topic_id', 'video_topic_replyCount',
       'video_topic_url', 'video_topic_voteCount', 'video_url',
       'deal_soldOutAt', 'deal_endDate'],
      dtype='object')

In [14]:
products.head()

,date,deal_features,deal_id,deal_purchaseQuantity_maximumLimit,deal_purchaseQuantity_minimumLimit,deal_specifications,deal_story_body,deal_story_title,deal_theme_accentColor,deal_theme_backgroundColor,...,video_title,video_topic_commentCount,video_topic_createdAt,video_topic_id,video_topic_replyCount,video_topic_url,video_topic_voteCount,video_url,deal_soldOutAt,deal_endDate
0,2022-06-24,"- Okay, so, it's like, you know how usually th...",a6k6e000000r0lMAAQ,3,1,Specs\r\n====\r\nProduct: 2-Pack: Mr. Beams 50...,"No matter what, you always dream of ways to tu...",Easy Ambiance,#00fffc,#1c192c,...,Garfield Hates Mondays: Maybe It Bothers Me Mo...,0.0,2022-06-24T04:00:00.296Z,62b536c0df2d0d4b686dace7,0.0,https://meh.com/forum/topics/garfield-hates-mo...,2.0,https://www.youtube.com/watch?v=9xY3gBL0MVA,None,None
1,2022-06-25,"- They're basic shirts, BUT THERE'S A TWIST\r\...",a6k6e000000qz2gAAA,3,1,Specs\r\n====\r\nProduct: 5-Pack: Moisture-Wic...,"Okay, here's the situation: it's 90 degrees ou...",Wick Rolled,#4bff38,#072c03,...,"Hey Everybody, It's Glen - Sports Small Talk",1.0,2022-06-25T04:00:00.201Z,62b68840df2d0d4b68707209,0.0,https://meh.com/forum/topics/hey-everybody-its...,1.0,https://www.youtube.com/watch?v=mqpmUqmr9fs,None,None
2,2022-06-26,"- A variety of differently-sized, lidded food ...",a6k6e000000r0sNAAQ,3,1,Specs\r\n====\r\nProduct: 17-Piece: Honey Can ...,This really isn't so complicated. It's a 15-pi...,Opinion Depot,#ff00fc,#3d3042,...,It's Singin' Cowboy Time: If I Was Batman,1.0,2022-06-26T04:00:00.244Z,62b7d9c0df2d0d4b6873707a,2.0,https://meh.com/forum/topics/its-singin-cowboy...,3.0,https://www.youtube.com/watch?v=oe7RRJc-yLs,None,None
3,2022-06-27,"- A name-brand, genuinely badass food processo...",a6k6e000000r0shAAA,3,1,Specs\r\n====\r\nProduct: Cuisinart 9-Cup Prep...,Words are stupid. \r\n\r\nOr at least people u...,Semantic saturation and the war on chicken paste.,#7e2425,#0080b1,...,Ask Irk: Clickbait Headlines?,1.0,2022-06-27T04:00:00.171Z,62b92b403f96f191e95149f2,1.0,https://meh.com/forum/topics/ask-irk-clickbait...,2.0,https://www.youtube.com/watch?v=kZS7FkbbK-8,None,None
4,2022-06-28,"- Liquid absorbs way better than pills, tablet...",a6k6e000000r16KAAQ,3,1,Specs\r\n====\r\nProduct: 2-Pack: NutraBurst O...,"There you are at the kitchen table, jaw aching...",Or just get scurvy,#f60000,#650074,...,You Want Boat?,3.0,2022-06-28T04:00:00.214Z,62ba7cc0df2d0d4b68791b31,1.0,https://meh.com/forum/topics/you-want-boat-3,0.0,https://www.youtube.com/watch?v=bCv1D2Ub80k,None,None

In [15]:
details.columns

Index(['date', 'time', 'Page Views 1 Name', 'Page Views 1 Percent',
       'Page Views 2 Name', 'Page Views 2 Percent', '# Visited', 'Clicked Meh',
       'Typed Meh Percent', 'Referrals Percent', 'Referrer 1 Percent',
       'Referrer 1 Name', 'Referrer 2 Percent', 'Referrer 2 Name',
       'Referrer 3 Percent', 'Referrer 3 Name', 'Referrer 4 Percent',
       'Referrer 4 Name', 'Referrer 5 Percent', 'Referrer 5 Name',
       'Items Sold', 'Dollars Sold'],
      dtype='object')

In [16]:
details.head()

,date,time,Page Views 1 Name,Page Views 1 Percent,Page Views 2 Name,Page Views 2 Percent,# Visited,Clicked Meh,Typed Meh Percent,Referrals Percent,...,Referrer 2 Percent,Referrer 2 Name,Referrer 3 Percent,Referrer 3 Name,Referrer 4 Percent,Referrer 4 Name,Referrer 5 Percent,Referrer 5 Name,Items Sold,Dollars Sold
0,2022-06-24,00:15:06,on a phone,67.0,on a tablet.,2.0,2312.0,522,94.0,6.0,...,NaN,None,NaN,None,NaN,None,NaN,None,15.0,737.0
1,2022-06-24,00:45:07,on a phone,63.0,on a tablet.,2.0,3986.0,801,94.0,6.0,...,NaN,None,NaN,None,NaN,None,NaN,None,25.0,1223.0
2,2022-06-24,01:16:47,on a phone,62.0,on a tablet.,2.0,5147.0,937,94.0,6.0,...,0.150473,mehstalker.com,NaN,None,NaN,None,NaN,None,34.0,1677.0
3,2022-06-24,01:45:06,on a phone,60.0,on a tablet.,2.0,6083.0,1006,94.0,6.0,...,0.145138,mehstalker.com,0.126996,facebook.com,0.090711,sidedeal.com,NaN,None,36.0,1782.0
4,2022-06-24,02:15:06,on a phone,59.0,on a tablet.,2.0,6816.0,1067,94.0,6.0,...,0.145513,mehstalker.com,0.113177,facebook.com,0.080841,sidedeal.com,NaN,None,39.0,1939.0

In [17]:
n_rows = details.shape[0]
unique_dates = details['date'].nunique()
print(f" Number of Rows: {n_rows} \n Unique Dates: {unique_dates}")

 Number of Rows: 669
 Unique Dates: 14

## Dedup Details Data

In [18]:
details = details.sort_values(['date', 'time'])
details_dedup = details.drop_duplicates(['date', 'time'], keep='first')
details_dedup.shape

(669, 22)

In [19]:
eod_details = details_dedup.drop_duplicates(['date'], keep='last')
eod_details['Avg Price'] = np.round(eod_details['Dollars Sold']/eod_details['Items Sold'], 2)
eod_details['Conversion (%)'] = np.round(100*eod_details['Items Sold']/eod_details['# Visited'], 4)
eod_details['Dollars Sold Rank'] = eod_details['Dollars Sold'].rank(ascending=False)
eod_details['Conversion Rank'] = eod_details['Conversion (%)'].rank(ascending=False)
eod_details['Items Sold Rank'] = eod_details['Items Sold'].rank(ascending=False)

eod_details = pd.merge(eod_details, products, on='date')
print(eod_details.shape)
eod_details.columns

(14, 68)

/home/malcolm/main/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/malcolm/main/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/malcolm/main/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/malcolm/main/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/malcolm/main/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Index(['date', 'time_x', 'Page Views 1 Name', 'Page Views 1 Percent',
       'Page Views 2 Name', 'Page Views 2 Percent', '# Visited', 'Clicked Meh',
       'Typed Meh Percent', 'Referrals Percent', 'Referrer 1 Percent',
       'Referrer 1 Name', 'Referrer 2 Percent', 'Referrer 2 Name',
       'Referrer 3 Percent', 'Referrer 3 Name', 'Referrer 4 Percent',
       'Referrer 4 Name', 'Referrer 5 Percent', 'Referrer 5 Name',
       'Items Sold', 'Dollars Sold', 'Avg Price', 'Conversion (%)',
       'Dollars Sold Rank', 'Conversion Rank', 'Items Sold Rank',
       'deal_features', 'deal_id', 'deal_purchaseQuantity_maximumLimit',
       'deal_purchaseQuantity_minimumLimit', 'deal_specifications',
       'deal_story_body', 'deal_story_title', 'deal_theme_accentColor',
       'deal_theme_backgroundColor', 'deal_theme_backgroundImage',
       'deal_theme_foreground', 'deal_title', 'deal_topic_commentCount',
       'deal_topic_createdAt', 'deal_topic_id', 'deal_topic_replyCount',
       'deal_topic_url', 'deal_topic_voteCount', 'deal_url', 'poll_id',
       'poll_startDate', 'poll_title', 'poll_topic_commentCount',
       'poll_topic_createdAt', 'poll_topic_id', 'poll_topic_replyCount',
       'poll_topic_url', 'poll_topic_voteCount', 'time_y', 'video_id',
       'video_startDate', 'video_title', 'video_topic_commentCount',
       'video_topic_createdAt', 'video_topic_id', 'video_topic_replyCount',
       'video_topic_url', 'video_topic_voteCount', 'video_url',
       'deal_soldOutAt', 'deal_endDate'],
      dtype='object')

In [20]:
eod_details.tail()

,date,time_x,Page Views 1 Name,Page Views 1 Percent,Page Views 2 Name,Page Views 2 Percent,# Visited,Clicked Meh,Typed Meh Percent,Referrals Percent,...,video_title,video_topic_commentCount,video_topic_createdAt,video_topic_id,video_topic_replyCount,video_topic_url,video_topic_voteCount,video_url,deal_soldOutAt,deal_endDate
9,2022-07-03,23:45:05,on a phone,50.0,on a tablet.,2.0,47156.0,3241,95.0,5.0,...,Me & I: Maybe It Bothers Me More Than It Should,4.0,2022-07-03T04:00:00.348Z,62c11440d2094ed3ab2ab426,6.0,https://meh.com/forum/topics/me-and-i-maybe-it...,2.0,https://www.youtube.com/watch?v=9WI8CvCYWVU,None,None
10,2022-07-04,23:45:13,on a phone,53.0,on a tablet.,2.0,48714.0,3149,93.0,7.0,...,It's Singin' Cowboy Time: A Fireworks PSA,1.0,2022-07-04T04:00:00.388Z,62c265c0d2094ed3ab2d8dfc,1.0,https://meh.com/forum/topics/its-singin-cowboy...,2.0,https://www.youtube.com/watch?v=LgfImp_ZkR0,None,None
11,2022-07-05,23:45:08,on a phone,45.0,on a tablet.,2.0,56306.0,3374,95.0,5.0,...,Remembering the Fondoodler,3.0,2022-07-05T04:00:00.264Z,62c3b740d2094ed3ab303404,0.0,https://meh.com/forum/topics/remembering-the-f...,5.0,https://www.youtube.com/watch?v=MPPPlvZE6fs,None,None
12,2022-07-06,23:45:05,on a phone,45.0,on a tablet.,2.0,59426.0,3435,91.0,9.0,...,Ask Irk: $1m?,1.0,2022-07-06T04:00:00.277Z,62c508c0d2094ed3ab347fa5,0.0,https://meh.com/forum/topics/ask-irk-dollar1m-1,2.0,https://www.youtube.com/watch?v=g_WRGwt_UeM,None,None
13,2022-07-07,23:45:06,on a phone,43.0,on a tablet.,2.0,58427.0,3381,94.0,6.0,...,"Hey Everybody, It's Glen - Shark All The Movies",0.0,2022-07-07T04:00:00.257Z,62c65a40a9fc3d441ec78e80,0.0,https://meh.com/forum/topics/hey-everybody-its...,1.0,https://www.youtube.com/watch?v=X7pE9shJe4Y,None,None

In [21]:
keeper_metrics = {}
keeper_metrics['# of Days'] = eod_details.shape[0]
keeper_metrics['Sum $ sold'] = eod_details['Dollars Sold'].astype('float').sum()
keeper_metrics['# of Items Sold'] = eod_details['Items Sold'].astype('float').sum()
keeper_metrics['Avg Sale Price'] = np.round(eod_details['Avg Price'].mean(), 2)
keeper_metrics['Total # of Visitors'] = eod_details['# Visited'].sum()
keeper_metrics['Avg # of Visitors'] = np.round(eod_details['# Visited'].mean(), 1)
keeper_metrics['Avg Conversion (%)'] = np.round(100*eod_details['Items Sold'].astype('float').sum()/
                                           eod_details['# Visited'].sum(), 4)
keeper_series = pd.Series(keeper_metrics, name = ' ')
keeper_series

# of Days                  14.0000
Sum $ sold             247353.0000
# of Items Sold          7167.0000
Avg Sale Price             41.0000
Total # of Visitors    702078.0000
Avg # of Visitors       50148.4000
Avg Conversion (%)          1.0208
Name:  , dtype: float64

In [22]:
for x in range(1, 6):
    new_col_name = 'Referrer '+ str(x) + ' Count'
    eod_details[new_col_name] = (eod_details['Referrer '+ str(x) +' Percent']) \
        * (eod_details['Referrals Percent']/100) \
        * eod_details['# Visited']
    print(new_col_name)

Referrer 1 Count
Referrer 2 Count
Referrer 3 Count
Referrer 4 Count
Referrer 5 Count

In [23]:
eod_details['Referrals Percent'].describe()

count    14.000000
mean      6.428571
std       2.310987
min       4.000000
25%       5.000000
50%       5.500000
75%       6.750000
max      12.000000
Name: Referrals Percent, dtype: float64

## Top By Dollar and Items Sold

In [24]:
keeper_cols = ['deal_title', 'Dollars Sold', 'Items Sold', 'Conversion (%)', 'Avg Price', 'date' 
               , 'Dollars Sold Rank', 'Conversion Rank', 'Items Sold Rank']

In [25]:
dollars = eod_details.sort_values('Dollars Sold', ascending=False)
top_dollars = dollars[keeper_cols].head(3)
bottom_dollars = dollars[keeper_cols].tail(3)

In [26]:
items = eod_details.sort_values('Items Sold', ascending=False)
top_items = items[keeper_cols].head(3)
bottom_items = items[keeper_cols].tail(3)

In [27]:
top_items

,deal_title,Dollars Sold,Items Sold,Conversion (%),Avg Price,date,Dollars Sold Rank,Conversion Rank,Items Sold Rank
11,2-Pack: Bell + Howell 9-in-1 Super Deluxe Tact...,15768.0,1097.0,1.9483,14.37,2022-07-05,8.0,1.0,1.0
12,9-Pack: Members Only Premium Boxer Briefs,32232.0,1053.0,1.7720,30.61,2022-07-06,2.0,2.0,2.0
13,CRKT Gulf Stone Wash OR Xan Carbon Fiber Knife...,34745.0,966.0,1.6533,35.97,2022-07-07,1.0,3.0,3.0

In [28]:
top_dollars

,deal_title,Dollars Sold,Items Sold,Conversion (%),Avg Price,date,Dollars Sold Rank,Conversion Rank,Items Sold Rank
13,CRKT Gulf Stone Wash OR Xan Carbon Fiber Knife...,34745.0,966.0,1.6533,35.97,2022-07-07,1.0,3.0,3.0
12,9-Pack: Members Only Premium Boxer Briefs,32232.0,1053.0,1.7720,30.61,2022-07-06,2.0,2.0,2.0
5,GoWise USA 12.7 Quart Deluxe Air Fryer Oven,24892.0,322.0,0.5141,77.30,2022-06-29,3.0,12.0,9.0

In [29]:
conversion = eod_details.sort_values('Conversion (%)', ascending=False)
top_conversion = conversion[keeper_cols].head(3)
bottom_conversion = conversion[keeper_cols].tail(3)

In [30]:
top_conversion

,deal_title,Dollars Sold,Items Sold,Conversion (%),Avg Price,date,Dollars Sold Rank,Conversion Rank,Items Sold Rank
11,2-Pack: Bell + Howell 9-in-1 Super Deluxe Tact...,15768.0,1097.0,1.9483,14.37,2022-07-05,8.0,1.0,1.0
12,9-Pack: Members Only Premium Boxer Briefs,32232.0,1053.0,1.7720,30.61,2022-07-06,2.0,2.0,2.0
13,CRKT Gulf Stone Wash OR Xan Carbon Fiber Knife...,34745.0,966.0,1.6533,35.97,2022-07-07,1.0,3.0,3.0

In [31]:
all_tops = pd.concat([top_items, top_dollars, top_conversion]).drop_duplicates()
all_tops

,deal_title,Dollars Sold,Items Sold,Conversion (%),Avg Price,date,Dollars Sold Rank,Conversion Rank,Items Sold Rank
11,2-Pack: Bell + Howell 9-in-1 Super Deluxe Tact...,15768.0,1097.0,1.9483,14.37,2022-07-05,8.0,1.0,1.0
12,9-Pack: Members Only Premium Boxer Briefs,32232.0,1053.0,1.7720,30.61,2022-07-06,2.0,2.0,2.0
13,CRKT Gulf Stone Wash OR Xan Carbon Fiber Knife...,34745.0,966.0,1.6533,35.97,2022-07-07,1.0,3.0,3.0
5,GoWise USA 12.7 Quart Deluxe Air Fryer Oven,24892.0,322.0,0.5141,77.30,2022-06-29,3.0,12.0,9.0

In [32]:
all_bottoms = pd.concat([bottom_items, bottom_dollars, bottom_conversion]).drop_duplicates()

# Meh T Shirts.. 
eod_details[eod_details['deal_title'].str.contains('Meh')]\
    [['deal_title', 'Dollars Sold', 'Items Sold', 'Avg Price', 'date','deal_soldOutAt']].tail(20)

## Referrer Analysis

In [33]:
def get_total_count(eod_details, referrer_name):
    ind = []
    for referrer_index in range(1, 6):
        dets = eod_details[eod_details[f'Referrer {referrer_index} Name'] == referrer_name][f'Referrer {referrer_index} Count']
        ind.append(dets)
    all_indexes = pd.concat(ind)
    print('Number of records in total count: ', all_indexes.shape[0])
    ref_sum = all_indexes.sum()
    return(ref_sum)

In [34]:
def get_referrer_details(eod_details, referrer_index):
    index = str(referrer_index)
    top_refferer = eod_details[f'Referrer {index} Name'].value_counts().head(1)
    top_refferer = top_refferer\
        .reset_index()\
        .rename({'index':f'Referrer {index} Name', f'Referrer {index} Name':f'Times as Referrer {index}'}, axis = 1)
    name = top_refferer[f'Referrer {index} Name'].values[0]
    views_cnt = int(get_total_count(eod_details, name))
    top_refferer[f'Referrer {index} Views Count'] = views_cnt
    top_refferer[f'Refferer {index} Views Pct'] = np.round(100 * views_cnt/eod_details['# Visited'].sum(),2)

    top_refferer = top_refferer.to_dict()
    top_refferer_dict = {k:v.get(0) for k, v in top_refferer.items()}
    return(top_refferer_dict)

In [35]:
ref1 = get_referrer_details(eod_details, 1)
ref2 = get_referrer_details(eod_details, 2)
ref1_series = pd.Series(ref1)
ref2_series = pd.Series(ref2)
ref_series = pd.concat([ref1_series, ref2_series]).rename('')
ref_series

Number of records in total count:  7
Number of records in total count:  14

Referrer 1 Name           bradsdeals.com
Times as Referrer 1                    6
Referrer 1 Views Count             43079
Refferer 1 Views Pct                6.14
Referrer 2 Name              twitter.com
Times as Referrer 2                    7
Referrer 2 Views Count              9034
Refferer 2 Views Pct                1.29
Name: , dtype: object

## Create HTML

In [36]:
keeper_df = pd.DataFrame(keeper_series)
keeper_html = "<strong> Key Metrics </strong>"
keeper_html += keeper_df.to_html()

In [37]:
all_tops_html = "<strong> All Top Products (by $ amount, # items, conversion %) </strong>"
all_tops_html += all_tops.to_html(index=False)

In [38]:
all_bottom_html = "<strong> All Bottom Products (by $ amount, # items, conversion %) </strong>"
all_bottom_html += all_bottoms.to_html(index=False)

In [39]:
top_dollars_html = "<strong> Top Dollar by Dollar </strong>"
top_dollars_html += top_dollars.to_html(index=False)

In [40]:
top_items_html = "<strong> Top Items by Numbers Sold </strong>"
top_items_html += top_items.to_html(index=False)

In [41]:
top_conversion_html = "<strong> Top Conversion (Items Sold/Visits) </strong>"
top_conversion_html += top_conversion.to_html(index=False)

In [42]:
ref_series_df = pd.DataFrame(ref_series)
ref_html = "<strong> Referrals DF </strong>"
ref_html += ref_series_df.to_html()

In [43]:
bottom_dollars_html = "<strong> Bottom Dollar by Dollar </strong>"
bottom_dollars_html += bottom_dollars.to_html(index=False)

bottom_items_html = "<strong> Bottom Items by Numbers Sold </strong>"
bottom_items_html += bottom_items.to_html(index=False)

bottom_conversion_html = "<strong> Bottom Conversion (Items Sold/Visits) </strong>"
bottom_conversion_html += bottom_conversion.to_html(index=False)

In [44]:
html_text = " <br> <br> ".join([keeper_html, all_tops_html, all_bottom_html
                                , ref_html
                                , top_dollars_html, top_items_html, top_conversion_html
                                , bottom_dollars_html, bottom_items_html, bottom_conversion_html])

## Send Analysis Email

In [2]:
import sys

In [3]:
sys.path.append('/home/malcolm/EmailSender1/')
from EmailSender import EmailSender as ES

In [46]:
try:    
    message_params = {}
    message_params['Subject'] = f'Weekly Meh Summary from {yesterday_str} and {two_weeks_ago_str}'

    message_params['Body'] = html_text
    
    email_sender = ES(**message_params)
    email_sender.execute()
    print("Success")
except Exception as e:
    error_email = {}
    error_email['Subject'] = f"Error in Meh Summary from {yesterday_str} and {two_weeks_ago_str}"
    error_email['Body'] = "Error in Meh: Error message <br><br>" + str(e)
    
    email_sender = ES(**error_email)
    email_sender.execute()
    print("Failed")

Success

import smtplib
import ssl
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
import base64
import papermill as pm
import os 
import sys
import re 
import datetime
import pickle
import nbconvert

import nbformat
from traitlets.config import Config
from nbconvert import HTMLExporter
from nbconvert.writers import FilesWriter

gmail_login = "malctaylordev@gmail.com"
sender_email = "malctaylordev@gmail.com"
reciever_email = "malctaylor15@gmail.com"
# reciever_email = gmail_login

message = MIMEMultipart('related')
message["From"] = sender_email
message["To"] = reciever_email
port = 465
context = ssl.create_default_context()

with open('/home/malcolm/credentials/email_pw.pkl', 'rb') as hnd:
    pw = pickle.load(hnd)['pw']

message['subject'] = f'Weekly Meh Summary from {yesterday_str} and {two_weeks_ago_str}'

# Encapsulate the plain and HTML versions of the message body in an
# 'alternative' part, so message agents can decide which they want to display.
msgAlternative = MIMEMultipart('alternative')
message.attach(msgAlternative)

msgText = MIMEText(html_text, 'html')
msgAlternative.attach(msgText)

with smtplib.SMTP_SSL("smtp.gmail.com", port, context=context) as server:
    server.login(gmail_login, pw)
    server.sendmail(gmail_login, reciever_email, message.as_string())